SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A602VU82", GROUP="plugdev", SYMLINK+="bronkhorstcleanair", MODE:="0666"
